### importing all the required library packages

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Supress Warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
car_data = pd.read_csv('CarPrice_Assignment.csv')
# Check the head of the dataset
car_data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

### Reading the data

In [4]:
car_data.shape

(205, 26)

In [5]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [6]:
car_data.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [7]:
# To find out if there is any null values
## (Checking for null values in any of the columns.)
car_data.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [8]:
# Check for duplicates
car_data.duplicated().sum()

0

In [9]:
car_data.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [10]:
### Dropping unwanted columns

In [11]:
# new data frame with split value columns  
new = car_data["CarName"].str.split(" ", n = 1, expand = True)  
    
# making separate first name column from new data frame  
car_data["company"]= new[0]  
    
# making separate last name column from new data frame  
car_data["Model"]= new[1]  
    
# Dropping old Name columns  
car_data.drop(columns =["CarName"], inplace = True)  
    
# df display  
car_data

,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,company,Model
0,1,3,gas,std,two,convertible,rwd,front,88.6,168.8,...,3.47,2.68,9.0,111,5000,21,27,13495.0,alfa-romero,giulia
1,2,3,gas,std,two,convertible,rwd,front,88.6,168.8,...,3.47,2.68,9.0,111,5000,21,27,16500.0,alfa-romero,stelvio
2,3,1,gas,std,two,hatchback,rwd,front,94.5,171.2,...,2.68,3.47,9.0,154,5000,19,26,16500.0,alfa-romero,Quadrifoglio
3,4,2,gas,std,four,sedan,fwd,front,99.8,176.6,...,3.19,3.40,10.0,102,5500,24,30,13950.0,audi,100 ls
4,5,2,gas,std,four,sedan,4wd,front,99.4,176.6,...,3.19,3.40,8.0,115,5500,18,22,17450.0,audi,100ls
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,gas,std,four,sedan,rwd,front,109.1,188.8,...,3.78,3.15,9.5,114,5400,23,28,16845.0,volvo,145e (sw)
201,202,-1,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,3.78,3.15,8.7,160,5300,19,25,19045.0,volvo,144ea
202,203,-1,gas,std,four,sedan,rwd,front,109.1,188.8,...,3.58,2.87,8.8,134,5500,18,23,21485.0,volvo,244dl
203,204,-1,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,3.01,3.40,23.0,106,4800,26,27,22470.0,volvo,246
204,205,-1,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,3.78,3.15,9.5,114,5400,19,25,22625.0,volvo,264gl

In [14]:
import numpy as np
df_one_hot_encoded = pd.get_dummies(data = car_data, columns = ["company", "fueltype", "aspiration", "doornumber", "carbody", "drivewheel", "enginelocation", "enginetype", "cylindernumber"])
print(df_one_hot_encoded )

     car_ID  symboling  wheelbase  carlength  carwidth  carheight  curbweight  \
0         1          3       88.6      168.8      64.1       48.8        2548
1         2          3       88.6      168.8      64.1       48.8        2548
2         3          1       94.5      171.2      65.5       52.4        2823
3         4          2       99.8      176.6      66.2       54.3        2337
4         5          2       99.4      176.6      66.4       54.3        2824
..      ...        ...        ...        ...       ...        ...         ...
200     201         -1      109.1      188.8      68.9       55.5        2952
201     202         -1      109.1      188.8      68.8       55.5        3049
202     203         -1      109.1      188.8      68.9       55.5        3012
203     204         -1      109.1      188.8      68.9       55.5        3217
204     205         -1      109.1      188.8      68.9       55.5        3062

     enginesize fuelsystem  boreratio  ...  enginetype_ohcf  enginetype_ohcv  \
0           130       mpfi       3.47  ...            False            False
1           130       mpfi       3.47  ...            False            False
2           152       mpfi       2.68  ...            False             True
3           109       mpfi       3.19  ...            False            False
4           136       mpfi       3.19  ...            False            False
..          ...        ...        ...  ...              ...              ...
200         141       mpfi       3.78  ...            False            False
201         141       mpfi       3.78  ...            False            False
202         173       mpfi       3.58  ...            False             True
203         145        idi       3.01  ...            False            False
204         141       mpfi       3.78  ...            False            False

     enginetype_rotor  cylindernumber_eight  cylindernumber_five  \
0               False                 False                False
1               False                 False                False
2               False                 False                False
3               False                 False                False
4               False                 False                 True
..                ...                   ...                  ...
200             False                 False                False
201             False                 False                False
202             False                 False                False
203             False                 False                False
204             False                 False                False

     cylindernumber_four  cylindernumber_six cylindernumber_three  \
0                   True               False                False
1                   True               False                False
2                  False                True                False
3                   True               False                False
4                  False               False                False
..                   ...                 ...                  ...
200                 True               False                False
201                 True               False                False
202                False                True                False
203                False                True                False
204                 True               False                False

     cylindernumber_twelve  cylindernumber_two
0                    False               False
1                    False               False
2                    False               False
3                    False               False
4                    False               False
..                     ...                 ...
200                  False               False
201                  False               False
202                  False               False
203                  False               False
204                  False               False

[205 rows x 76 columns]

In [ ]:
car_data

In [ ]:

car_data.drop(columns =['CarName_1','CarName_2','CarName_3','CarName_4','CarName_5'], inplace = True) 
car_data

In [ ]:
# Segregation/Seperation of Numerical and Categorical Variables/Columns in the data set
cat_col = car_data.select_dtypes(include=['object']).columns
num_col = car_data.select_dtypes(exclude=['object']).columns
df_cat = car_data[cat_col]
df_num = car_data[num_col]
df_cat.head()
df_num.head()

In [ ]:
df_num.head()

In [ ]:
df_cat.head()

In [ ]:
# Checking the correlation coefficients to see which variables are highly correlated
plt.figure(figsize = (20, 10))
sns.heatmap(df_num.corr(), annot = True, cmap="YlGnBu")
plt.show()

In [ ]:
###From above scatter plot and heat map we clearly see that columns like ' citympg', 'highwaympg', 'peakrpm', 'symboling' are negatively corelated and 'car height', 'stroke', 'compressionratio', 'peakrpm', 'symboling' doesn't show any trend with 'price'. So we are not requiring these columns

In [ ]:
# Visualizing number of cars for each car name in the data set
plt.figure(figsize = [15,8])
ax=car_data['Company'].value_counts().plot(kind='bar',stacked=False, colormap = 'rainbow')
ax.title.set_text('Carcount')
plt.xlabel("Names of the Car",fontweight = 'bold')
plt.ylabel("Count of Cars",fontweight = 'bold')
plt.show()

In [ ]:
# Visualizing the distribution of car prices
plt.figure(figsize=(8,8))
plt.title('Car Price Distribution Plot')
sns.distplot(car_data['price'])
plt.show()

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
for i in car_data:
    car_data[i] = label_encoder.fit_transform(car_data[i])

In [ ]:
corr_matrix = car_data.corr()["price"]
corr_matrix

In [ ]:
x=car_data[["drivewheel","wheelbase","carlength","carwidth","curbweight","enginesize","fuelsystem","boreratio","horsepower","citympg","highwaympg"]]
y=car_data[["price"]]
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.75)

In [ ]:
x_train

In [ ]:
x_test

In [ ]:
reg=LinearRegression() #object creation

In [ ]:
reg.fit(x_train,y_train) #model building

In [ ]:
pred=reg.predict(x_test) #testing
pred